.benefits {
    height: 470px;
    background: #f6f6f6;
    padding: 70px 0 85px 0;
    &__header {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: #0d0d0d;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__block {
        width: 270px;
        height: 240px;
        text-align: center;
        h3 {
            padding-top: 30px;
        }
        p {
            margin-top: 20px;
        }
    }
}
